{% extends 'template.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('fetcher') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% if (latest != null) and (earliest != null) %}
                <p class="col-6">Donnée la plus ancienne: {{ earliest|date('m-d-Y H:i:s') }}</p>
                <p class="col-6">Donnée la plus récente: {{ latest|date('m-d-Y H:i:s') }}</p>
            {% else %}
                <p class="col-12">Aucune donnée trouvée</p>
            {% endif %}

            <div class="mb-3 col-12">
                <div class="row">
                    <div class="col-6">
                        <label for="date_debut" class="form-label required">Date debut (inclus)</label>
                        {% if (earliest != null) %}
                            <input type="date" id="date_debut" name="date_debut" required="required" class="form-control" value="{{ earliest|date('Y-m-d') }}">
                        {% else %}
                            <input type="date" id="date_debut" name="date_debut" required="required" class="form-control">
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <label for="date_fin" class="form-label required">Date fin (exclus)</label>
                        {% if (latest != null) %}
                            <input type="date" id="date_fin" name="date_fin" required="required" class="form-control" value="{{ latest|date('Y-m-d') }}">
                        {% else %}
                            <input type="date" id="date_fin" name="date_fin" required="required" class="form-control">
                        {% endif %}
                    </div>
                    <div>
                        <button id="dates_Confirmer" class="btn-primary btn mt-1" type="button" name="Confirmer" onclick="actu();">Récupérer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}