{% extends 'template.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('detail_capteur') }}
{% endblock %}

{% block stylesheets %}
    <style>
        .loader {
            border: 2px solid #f3f3f3; /* Light grey */
            border-top: 2px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 20px;
            height: 20px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Capteur: {{ capteur.devEui }}</h1>

    <div class="container-fluid">
        <h2>Détails</h2>
        <ul>
            <li><strong>Marque</strong>: {{ capteur.marque }}</li>
            <li><strong>Réseau</strong>: {{ capteur.reseau }}</li>
            <li><strong>Dernière salle</strong>:
                {% if salle %}
                    <a href="{{ path('salle.details', {id: salle.id}) }}">{{ salle }}</a>
                {% else %}
                    Aucune salle trouvée
                {% endif %}
            </li>
            <li><strong>Description</strong>: {{ capteur.description }}</li>
            <li><strong>Date de début</strong>: {{ capteur.dateDebut|date('d/m/Y') }}</li>
            <li><strong>Date de fin</strong>: {{ capteur.dateFin|date('d/m/Y') }}</li>
        </ul>

        <div class="mb-3 container-fluid">
            <div class="row">
                <div class="col-6">
                    <label for="date_debut" class="form-label required">Date debut</label>
                    <input type="date" id="date_debut" name="date_debut" required="required" class="form-control" value="{{ from|date('Y-m-d') }}">
                </div>
                <div class="col-6">
                    <label for="date_fin" class="form-label required">Date fin</label>
                    <input type="date" id="date_fin" name="date_fin" required="required" class="form-control" value="{{ to|date('Y-m-d') }}">
                </div>
            </div>
        </div>

        <div class="mb-3 container-fluid">
            <div class="row">
                <button id="dates_Confirmer" class="btn-primary btn col-2" type="button" name="Confirmer" onclick="makeRequest();">Confirmer</button>
            </div>
            <div style="display:none" id="loader" class="loader col-3 mt-1"></div>
{#            <p id="loading" style="display:none"><img width="5%" height="auto" src="" id="loading_img"/> Please Wait</p>#}
        </div>


    </div>

    <div id="graphs" class="container-fluid border-bottom">
        <div class="row">
            <h2>Relevés</h2>
            <div class="chart-container col-12 border-bottom" style="position: relative;">
                <canvas data-co2-data="{{ co2 }}" class="my-4 w-100" id="co2Chart" width="900" height="380"></canvas>
            </div>
            <div class="chart-container col-12 border-bottom border-start" style="position: relative;">
                <canvas data-hum-data="{{ humidite }}" class="my-4 w-100" id="humChart" width="900" height="380"></canvas>
            </div>
            <div class="chart-container col-12 border-right" style="position: relative;">
                <canvas data-temp-data="{{ temperature }}" class="my-4 w-100" id="tempChart" width="900" height="380"></canvas>
            </div>
        </div>
    </div>

    <div class="mb-3 mt-3">
{#        <button class="btn btn-danger">Supprimer</button>#}
        <a href="{{ path('capteurs.delete', {id: capteur.id}) }}" class="btn btn-danger">Supprimer</a>
    </div>
{% endblock %}