{% extends 'template.html.twig' %}

{% block body %}
    <h1>{{ salle.nomSalle }}</h1>

    <div class="row">
        <h2>Dernières mesures:</h2>
        {% if co2 %}
        <p>CO2: {{ co2.valeur }}</p>
        {% endif %}
        {% if temperature %}
        <p>Temperature: {{ temperature.valeur }}</p>
        {% endif %}
        {% if humidite %}
        <p>Humidite:    {{ humidite.valeur }}</p>
        {% endif %}

        <h2>Capteurs:</h2>
        <ul>
            {% for c in capteurs %}
                <li>
                    <a href="{{ path('capteurs.details', {id: c.id}) }}">{{ c.devEui }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}