{% extends 'template.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <h1>Home</h1>
    <div class="container-fluid">
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="col-4">
                <strong class="me-3">Co2</strong>
                <div class="input-group me-2">
                    <label for="inputCo2"></label><input type="number" id="inputCo2" name="inputCo2" value="{{ co2_threshold }}">
                </div>
            </div>
            <div class="col-4">
                <strong class="me-3">Humidité</strong>
                <div class="input-group me-2">
                    <label for="inputHum"></label><input type="number" id="inputHum" name="inputHum" value="{{ hum_threshold }}">
                </div>
            </div>
            <div class="col-4">
                <strong class="me-3">Température</strong>
                <div class="input-group me-2">
                    <label for="inputTemp"></label><input type="number" id="inputTemp" name="inputTemp" value="{{ temp_threshold }}">
                </div>
            </div>
        </div>

        <div class="mt-3 mb-1">
            <div class="row">
                <div class="col-6">
                    <label for="date_debut" class="form-label required">Date debut</label>
                    <input type="date" id="date_debut" name="date_debut" required="required" class="form-control" value="{{ from|date('Y-m-d') }}">
                </div>
                <div class="col-6">
                    <label for="date_fin" class="form-label required">Date fin</label>
                    <input type="date" id="date_fin" name="date_fin" required="required" class="form-control" value="{{ to|date('Y-m-d') }}">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <button id="Confirmer" class="btn-primary btn mt-1" type="button" name="Confirmer" onclick="actu();">Confirmer</button>
            <div style="display:none" id="loader" class="loader col-3 mt-1"></div>
        </div>

        {% set freq = 10 %}

        <h2 class="border-top">Ventilation</h2>
        {% if co2_data is empty %}
            <p> Aucune salle n'a dépassé le seuil indiqué dans la période recherchée. </p>
        {% else %}
            <ul>
                {% for data in co2_data%}
                    <li><a href="{{ path('salle.details', {id:data[3]}) }}">{{data[1]}}</a> a <strong>{{data[2]}} relevés</strong> dépassant les <strong>{{co2_threshold}} ppm</strong> soit <strong>{{ ((data[2]*freq)/60)|round(0, 'floor') }} heures et {{ (data[2]*freq)%60 }} minutes </strong> au-dessus du seuil.</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h2 class="border-top">Humidité</h2>
        {% if hum_data is empty %}
            <p> Aucune salle n'a dépassé le seuil indiqué dans la période recherchée. </p>
        {% else %}
            <ul>
                {% for data in hum_data%}
                    <li><a href="{{ path('salle.details', {id:data[3]}) }}">{{data[1]}}</a> a <strong>{{data[2]}} relevés</strong> dépassant <strong>{{ hum_threshold }}% d'humidité</strong> soit <strong>{{ ((data[2]*freq)/60)|round(0, 'floor') }} heures et {{ (data[2]*freq)%60 }} minutes </strong> au-dessus du seuil.</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h2 class="border-top">Température</h2>
        {% if temp_data is empty %}
            <p> Aucune salle n'a dépassé le seuil indiqué dans la période recherchée. </p>
        {% else %}
            <ul>
                {% for data in temp_data%}
                    <li><a href="{{ path('salle.details', {id:data[3]}) }}">{{data[1]}}</a> a <strong>{{data[2]}} relevés</strong> dépassant <strong>{{ temp_threshold }}°C</strong> soit <strong>{{ ((data[2]*freq)/60)|round(0, 'floor') }} heures et {{ (data[2]*freq)%60 }} minutes </strong> au-dessus du seuil.</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}