{% extends 'template.html.twig' %}

{% block modals %}
{#    <!-- Modal -->#}
{#    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title" id="exampleModalLabel">Saisie d'un nouveau Capteur</h5>#}
{#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    {{ form_start(capForm) }}#}
{#                    <div class="row">#}
{#                        <div class="col">{{ form_row(capForm.dev_eui) }}</div>#}
{#                        <div class="col">{{ form_row(capForm.marque) }}</div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col">{{ form_row(capForm.reseau) }}</div>#}
{#                        <div class="col">{{ form_row(capForm.salle) }}</div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col">{{ form_row(capForm.date_debut) }}</div>#}
{#                        <div class="col">{{ form_row(capForm.date_fin) }}</div>#}
{#                    </div>#}
{#                    {{ form_row(capForm.description) }}#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    {{ form_rest(capForm) }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block body %}
{#    <label for="state"> ALED#}
{#        <select class="form-select select2" name="state">#}
{#            <option value="DEF"></option>#}
{#            <option value="AL">Alabama</option>#}
{#            <option value="WY">Wyoming</option>#}
{#        </select>#}
{#    </label>#}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Capteurs</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter</button>
        </div>
    </div>
    <div class="table-responsive small">
        <table class="table table-striped table-sm" id="capteurs_table">
            <thead>
            <tr>
                <th scope="col">devEui</th>
                <th scope="col">marque</th>
                <th scope="col">réseau</th>
{#                <th scope="col">salle</th>#}
                <th scope="col">description</th>
                <th scope="col">date debut</th>
                <th scope="col">date fin</th>
            </tr>
            </thead>
            <tbody>
            {% for c in data%}
                <tr>
                    <td><a href="{{ path('capteurs.details', {id: c.id}) }}">{{ c.devEui }}</a></td>
                    <td>{{ c.marque }}</td>
                    <td>{{ c.reseau }}</td>
{#                    <td>#}
{#                    {% if c.salle %}#}
{#                        <a href="{{ path('salle.details', {id: c.salle.id}) }}">{{ c.salle.nomSalle }}</a>#}
{#                    {% endif %}#}
{#                    </td>#}
                    <td>{{ c.description }}</td>
                    <td>{{ c.dateDebut|date('d/m/Y') }}</td>
                    <td>{{ c.dateFin|date('d/m/Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('form') }}
    {{ encore_entry_link_tags('form') }}
    {{ encore_entry_script_tags('capteurs') }}
{% endblock %}