{% extends 'template.html.twig' %}

{% block stylesheets %}
    <style>
        /*.low_thresh{*/
        /*    background-color: #A9CEF4 !important;*/
        /*}*/
        .medium_thresh {
            background-color: #7EA0B7 !important;
        }
        .high_thresh {
            background-color: #597081 !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('salles') }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="row">
            <h1 class="h2 col-2">Salles</h1>
            <div class="btn-toolbar mb-2 mb-md-0 col-5">
                <strong class="col-12">Co2</strong>
                <div class="input-group me-2">
                    <label for="medCo2"></label><input type="number" id="medCo2" name="medCo2" onchange="colorCo2();">
                    <label for="highCo2"></label><input type="number" id="highCo2" name="highCo2" onchange="colorCo2();">
                </div>
                <strong class="col-12">Température</strong>
                <div class="input-group me-2">
                    <label for="medTemp"></label><input type="number" id="medTemp" name="medTemp" onchange="colorTemp();">
                    <label for="highTemp"></label><input type="number" id="highTemp" name="highTemp" onchange="colorTemp();">
                </div>
                <strong class="col-12">Humidité</strong>
                <div class="input-group me-2">
                    <label for="medHum"></label><input type="number" id="medHum" name="medHum" onchange="colorHum();">
                    <label for="highHum"></label><input type="number" id="highHum" name="highHum" onchange="colorHum();">
                </div>
            </div>

            <div class="mb-3 col-5">
                <div class="row">
                    <div class="col-6">
                        <label for="date_debut" class="form-label required">Date debut</label>
                        <input type="date" id="date_debut" name="date_debut" required="required" class="form-control" value="{{ from|date('Y-m-d') }}">
                    </div>
                    <div class="col-6">
                        <label for="date_fin" class="form-label required">Date fin</label>
                        <input type="date" id="date_fin" name="date_fin" required="required" class="form-control" value="{{ to|date('Y-m-d') }}">
                    </div>
                    <div>
{#                        <button id="dates_Confirmer" class="btn-primary btn mt-1" type="button" name="Confirmer" onclick="makeRequest();">Confirmer</button>#}
{#                        <div style="display:none" id="loader" class="loader col-3 mt-1"></div>#}
                        <button id="dates_Confirmer" class="btn-primary btn mt-1" type="button" name="Confirmer" onclick="actu();">Confirmer</button>
                        <div style="display:none" id="loader" class="loader col-3 mt-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive small">
        <table class="table table-striped table-sm" id="salles_table">
            <thead>
            <tr>
                <th scope="col">Salle</th>
                <th scope="col">Co2 - min</th>
                <th scope="col">Co2 - moy</th>
                <th scope="col">Co2 - max</th>
                <th scope="col">Temperature - min</th>
                <th scope="col">Temperature - moy</th>
                <th scope="col">Temperature - max</th>
                <th scope="col">Humidité - min</th>
                <th scope="col">Humidité - moy</th>
                <th scope="col">Humidité - max</th>
            </tr>
            </thead>
            <tbody>

            {% for salle, stat in data%}
                <tr>
                    <td><a href="{{ path('salle.details', {id:salles[loop.index0].id}) }}">{{ salle }}</a></td>
                    {% for i in 0..2 %}
                        <td class="co2_thresh">
                            {% if stat.c is defined %}
                                {{ stat['c'][i]}}
                            {% endif %}
                        </td>
                    {% endfor %}
                    {% for i in 0..2 %}
                        <td class="temp_thresh">
                            {% if stat.t is defined %}
                                {{ stat['t'][i]}}
                            {% endif %}
                        </td>
                    {% endfor %}
                    {% for i in 0..2 %}
                        <td class="hum_thresh">
                            {% if stat.h is defined %}
                                {{ stat['h'][i]}}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}