<!DOCTYPE html>

<title>Hello CapteurController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/guyot/PhpstormProjects/air_quality/src/Controller/CapteurController.php'|file_link(0) }}">src/Controller/CapteurController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/guyot/PhpstormProjects/air_quality/templates/capteur/template.html.twig.twig.twig'|file_link(0) }}">templates/capteur/template.html.twig.twig.twig</a></code></li>
    </ul>
</div>
{% endblock %}
